.button-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black;
  border-radius: 8px;
  
}
